.MapComponent {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mapElement {
  height: 100%;
  width: 10%;
  background-color: lightgray;
  display: flex;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  box-sizing: border-box;
  position: relative;
  &.active {
    box-shadow:inset 0 0 0 2000px rgba(68, 255, 75, 0.5);
  }
 }

.mapRow {
  display: flex;
  height: 10%;
}

.coordsElement {
  font-size: 7px;
  color: darkgray;
  padding: 1px;
  position: absolute;
}

.road22 {
  span {
    background-color: #fff;
  }
}

.road22a {
  position: absolute;
  width: 100%;
  height: 10px;
  top: 45%;
}

.road22b {
  position: absolute;
  width: 10px;
  height: 100%;
  left: 45%;
}

.roadx1ay1 {
  position: absolute;
  width: 55%;
  height: 10px;
  top: 45%;
  right: 0;
}

.roadx1by1 {
  position: absolute;
  width: 10px;
  height: 50%;
  left: 45%;
  bottom: 0;
}

.roadx1ayr {
  position: absolute;
  width: 55%;
  height: 10px;
  top: 45%;
  right: 0;
}

.roadx1byr {
  position: absolute;
  width: 10px;
  height: 100%;
  left: 45%;
  bottom: 0;
}

.roadx1ay10 {
  position: absolute;
  width: 55%;
  height: 10px;
  top: 45%;
  right: 0;
}

.roadx1by10 {
  position: absolute;
  width: 10px;
  height: 50%;
  left: 45%;
  top: 0;
}

.roadxray1 {
  position: absolute;
  width: 100%;
  height: 10px;
  top: 45%;
  right: 0;
}

.roadxrby1 {
  position: absolute;
  width: 10px;
  height: 50%;
  left: 45%;
  bottom: 0;
}

.roadx10ay1 {
  position: absolute;
  width: 50%;
  height: 10px;
  top: 45%;
  left: 0;
}

.roadx10by1 {
  position: absolute;
  width: 10px;
  height: 55%;
  left: 45%;
  bottom: 0;
}

.roadx10ayr {
  position: absolute;
  width: 50%;
  height: 10px;
  top: 45%;
  left: 0;
}

.roadx10byr {
  position: absolute;
  width: 10px;
  height: 100%;
  left: 45%;
  bottom: 0;
}

.roadx10ay10 {
  position: absolute;
  width: 50%;
  height: 10px;
  top: 45%;
  left: 0;
}

.roadx10by10 {
  position: absolute;
  width: 10px;
  height: 55%;
  left: 45%;
  top: 0;
}

.roadxray10 {
  position: absolute;
  width: 100%;
  height: 10px;
  top: 45%;
  left: 0;
}

.roadxrby10 {
  position: absolute;
  width: 10px;
  height: 55%;
  left: 45%;
  top: 0;
}
